.grid-view .welcome-widget {
    min-width: 400px;
    max-height: 350px;
    margin: 10px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;

}

.left h4 {
    color: grey;
}

.welcome-widget {
    display: flex;
    flex-direction: column;
}

.welcome-widget .top {
    height: 150px;
    justify-content: space-between;
    display: flex;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    padding: 10px;

}

.welcome-widget .bttom {

    background-color: white;
    height: 200px;
    flex-direction: column;
    position: relative;
    border-radius: 0 0 10px 10px;

}

.welcome-widget .illustration {

    width: 200px;
    height: 200px;
}

.welcome-widget .profile {
    margin: 0 20px;
    top: -25px;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border: 2px solid white;
    outline: 1px solid #f1f1f1;
    border-radius: 50%;
}

.info {
    display: flex;
    border-top: 1px solid #edebeb;
    border-bottom: 1px solid #edebeb;
    padding: 20px;
    margin: 30px 0;
    justify-content: space-between;
}

.info .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin: 0 20px 10px 20px;
}

.welcome-widget .profile-btn {

    padding: 5px 12px;
    max-width: fit-content;
    right: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #007bfe;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color .2s;
}

.welcome-widget .profile-btn:hover {
    background-color: indigo;
}